.latest-search-button{
  background-color: #262626;
  color:white;
  padding:0.9% 0.5%;
  border:none;
  text-decoration:none;
  border-radius: 5px;
  cursor:pointer;
  outline: none;
}
.container{
  display:flex;
  flex-direction: row;
  background-color:whitesmoke;
  padding:2.5% 0% 0.5% 12.5%;
}
.latest-search-pannel{
  padding:0.7% 0% 0.5% 12.5%;
}
.search-filter{
  background-color: white;
}
.news-pannel{
  background-color: white;
}
.search-filter{
  width: 19%;
}