.news-container{
    width: 64%;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1.5%;
    padding-bottom: 10%;
}
.news-section{direction: ltr;
    width: 100%;
}
.news-section-non-image{
    width: 100%;
    margin-left: 3%;
}
.heading{
    width: 97%;
    word-break: break-word;
    font-size: 120%;
    margin-left: 3%;
    font-weight: bolder;
    margin-bottom: 1%;
}
.author-section{
    font-size: 90%;
    margin: 0% 0% 1% 3%;
    padding:0% 2.5% 0% 0%;
    color:lightgray;
    text-transform: uppercase;
    border-right:1px solid lightgray;
}
.author-section-non-image{
    font-size: 90%;
    text-transform: uppercase;
    margin: 0% 0% 1% 0%;
    padding:0% 2.5% 0% 0%;
    color:lightgray;
    border-right:1px solid lightgray;
    word-break:break-word;
}
.date-section{
    font-size: medium;
    margin: 0% 0%;
    padding:0% 0% 0% 2.5%;
    color:lightgray;
}
.content{
    font-size: 1.1rem;
    margin-top: 2%;
    overflow: hidden;
    max-height: 66px;
    word-break:break-word;
}
.reference{
    font-weight: bolder;
    font-size: 115%;
}
.link{
    word-break: break-all;
    margin-top: 0.5%;
}
.content-non-image{
    font-size: 110%;
    margin-left: 3%;
    margin-top: 2%;
    word-break:break-word;
}
.reference-non-image{
    margin-left: 3%;
    font-weight: bolder;
    margin-top: 0.5%;
    font-size: 115%;
}
.link-non-image{
    word-break: break-all;
    margin-top: 0.5%;
    margin-left: 3%;
}
a{
    font-size: 110%;
    color:blueviolet !important;
}
.close{
    margin-top: 1%;
    margin-right: 1%;
    cursor: pointer;
}
.list{
    height: 85%;
    position: fixed;
    overflow-y: scroll;
    width: 64%;
}
.loading-bar-container{
    height:100%;
    width: 64%;
    background-color: white;
    display: flex;;
    justify-content: center;
    align-items: center;
}
.news{
    display: flex;
    direction: row;
}
img{
    margin-top:8%;
    margin-left: 10%;
}
.news-image{
    height:fit-content;
    width:fit-content;
}
.news-content{
    margin-left: 5%;
    display:flex;
    flex-direction: column;
}
.progress-size{
    height: 30% !important;
    width: 30% !important;
}